$primaryColor : #01d277;
$secondaryColor : #081c24;

$logoBackgroundColor: rgba(0, 0, 0, 0.85);

$inputTextColor: #eaedf2;
$inputBackrgoudColor: rgba(0, 0, 0, 0.85);

$descriptionLightColor : #eaedf2;
$descriptionBackgroundColor : rgba(0, 0, 0, 0.85);
